* {
  max-height: 97vh;
  flex-shrink: 0;
}

body {
  font-family: 'Object Sans', 'Space Mono', 'Roboto', sans-serif;
  font-size: 15px;
  background: #062e32;
  color: #c2cccd;
}

body {
  display: flex;
  height: 97vh;
  align-items: center;
  justify-content: center;
}

a {
  color: #509b7f; 
  text-decoration: none;
  padding-bottom: 5px;
}

a:hover {
  color: #9984B9;
  transition: color 500ms;
}

#search {
  display: flex;
  justify-content: center;
}

#search-field:hover, #search-field:focus-within, input:hover, #search:hover, #search:focus-within {
  opacity: 1;
  transition: opacity 500ms;
}

input.placeholder, ::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, input::placeholder {
  color: #000;
  justify-content: center;
}

#search-field {
  font-family: 'Object Sans';
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #c2ceed;
  margin: 2em;
  color: inherit;
  background: inherit;
  width: 50%;
  justify-content: center;
  opacity: 0.2;
  transition: opacity 500ms;
}

.container {
  min-width: 97vw;
}

.bookmark-container {
  display: block;
  min-width: 100%;
}

.bookmark-section {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.section-title {
  display: block;
  min-width: 7em;
  color: #996300;
  padding-bottom: 10px;
  padding-top: 2px;
}

.link-container {
  display: block;
}

.link-container > a {
  display: block;
  text-align: center;
}

#tip {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
}

@media (min-width: 640px) {

  .container {
    min-width: 65vw;
  }

  .bookmark-container {
    display: flex;
    flex-wrap: wrap;
  }

  .bookmark-section {
    margin: 0;
    width: 48%;
  }

}

@media (min-width: 940px) {
  
  body {
    font-size: 18px;
  }

  .container {
    min-width: 50vw;
  }
   
  .bookmark-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-right: 25px;
  }

  .bookmark-section {
    text-align: left;
    min-width: 25%;
    width: max-content;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .link-container {
    display: block;
    padding: 2px 0;
  }

  .link-container > a {
    display: flex;
    padding-bottom: 5px;
  }

}

